---
desc: Vuoi contattare il team di canapacoltivazione.com ? Puoi farlo contattando canapacoltivazione@protonmail.com
title: Contatti
noIndex: false
eleventyNavigation:
  key: Contact
  parent: Home
navOptions:
  includeSelf: true
---

<!DOCTYPE html>
<html lang="it">

  <head>
    {% include 'head' %}
    <link rel="stylesheet" href="/styles/contact.css">
    <meta name="robots" content="index"/>
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl }}"/>
  </head>

  <body>
    {% include 'theme' %}
    {% include 'header' %}
    <main>
      <div class="contact">
        <div class="breadcrumbs">
          {% assign navPages = collections.all | eleventyNavigationBreadcrumb: "Contact", navOptions %}
          {% include 'breadcrumbs' %}
        </div>
        <h1>Contatti</h1>
        <div class="flow">
          <p>
            Hai domande, curiosità, dubbi sulla coltivazione di cannabis?</p>

          <p>
            Vuoi diventare un volontario di canapacoltivazione.com?</p>

          <p>
            Hai bisogno di materiale di informazione sulla coltivazione o qualsiasi altro materiale legato alla
            cannabis?</p>
        </div>
        <div class="details flow">
          <p class="email">Email →
            <a href="mailto:canapacoltivazione@protonmail.com" class="link">canapacoltivazione@protonmail.com</a>
          </p>
          <p class="tele">Telegram →
            <a href="https://t.me/coltivazionecanapa" rel="nofollow" class="link">t.me/coltivazionecanapa</a>
          </p>
        </div>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <small>Copyright
          <b>{{site.author}}</b>
        </small>
      </div>
    </footer>
    <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
    <aside id="sidebar">
      <a href="javascript:toggleSidebar()" class="icon-btn" title="Close">
        <svg class="icon">
          <use href="/assets/cross.svg#content"/>
        </svg>
      </a>
      {% include 'menu' %}
    </aside>
  </body>

</html>