<!DOCTYPE html>
<html lang="it">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/styles/contact.css">
</head>

<body>
    {% include 'theme' %}
    {% include 'header' %}
    <main>
        <div class="contact">
            <h2>Contatti</h2>
            <div class="flow">
                <p>
                    Hai domande, curiosità, dubbi sulla coltivazione di cannabis?</p>

                <p> Vuoi diventare un volontario di clinkpac.com?</p>

                <p> Hai bisogno di materiale di informazione sulla coltivazione o qualsiasi altro materiale legato alla
                    cannabis?</p>
            </div>

            <p>Email → <a href="mailto:canapa@protonmail.com">canapa@protonmail.com</a></p>
            <p>Telegram → <a href="https://t.me/coltivazionelink">t.me/coltivazionelink</a></p>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <small>Copyright <b>{{site.author}}</b></small>
        </div>
    </footer>
    <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
    <aside id="sidebar">
        <a href="javascript:toggleSidebar()" class="icon-btn" title="Close"><svg class="icon">
                <use href="/assets/cross.svg#content" />
            </svg></a>
        {% include 'menu' %}
    </aside>
</body>

</html>