<div class="categories">
  <h2>Blog categories</h2>
  <ul>
    {% for category in categoriesData.categories %}
      <li>
        <a href="/category/{{category.title | slugify }}" class=" category">
          {{category.title}}
        </a>
      </li>

      <li>
        {% if category.subcategories %}
          <ul>
            {%- assign subcats = category.subcategories -%}
            {% for category in subcats %}
              <li>
                <a href="/category/{{category.title | slugify }}" class=" category">
                  {{category.title}}
                </a>
              </li>
            {% endfor%}
          </ul>
        {% endif %}
      </li>
    {% endfor%}
  </ul>
</div>