<script>
    const onLangChange = (currentLang, pageUrl) => {
        if (currentLang === 'en') {
            const pathSuffix = pageUrl.split("/").slice(2).join("/")
            window.location.href = new URL(window.location.protocol + "//" + window.location.host + "/" + pathSuffix);
        }
        else {
            window.location.href = new URL(window.location.protocol + "//" + window.location.host + "/" + 'en' + "/" + pageUrl);
        }
    }
</script>
<header class="page-header">
    <div class="container">
        <a href="javascript:toggleSidebar()" class="icon-btn" title="Menu" id="menu_btn"><svg class="icon">
                <use href="/assets/bars.svg#content" />
            </svg></a>
        <img width="48" height="48" class="logo" src="/assets/logo.svg" alt="">
        <nav>
            {% include 'menu' %}
        </nav>
        <a id="theme_switch" class="icon-btn" href="javascript:toggleTheme()" title="Change theme"><svg class="icon">
                <use href="/assets/moon.svg#content" />
            </svg></a>
        <div id="lang_cont">
            <a href="javascript:;" id="lang_switch" title="Change language">
                {% if locale == "en" %}
                <img width="24" height="24" src="/assets/english.png" alt="English" />
                <span>EN</span>
                {% else %}
                <img width="24" height="24" src="/assets/italy.png" alt="Italian" />
                <span>IT</span>
                {% endif %}
            </a>
            <ul>
                {% if locale == "en" %}
                <li>
                    <a><img width="24" height="24" src="/assets/english.png" alt="English" />
                        English</a>
                </li>
                <li>
                    <a href="javascript:onLangChange('en', '{{page.url}}');"><img width="24" height="24"
                            src="/assets/italy.png" alt="Italian" />
                        Italian</a>
                </li>
                {% else %}
                <li>
                    <a href="javascript:onLangChange('it', '{{page.url}}');"><img width="24" height="24"
                            src="/assets/english.png" alt="English" />
                        English</a>
                </li>
                <li>
                    <a><img width="24" height="24" src="/assets/italy.png" alt="Italian" />
                        Italian</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>