{% if locale == "en" %}
<a href="/en" class="menu-item">Home</a>
<a href="/en/about" class="menu-item">About</a>
<a href="/en/contact" class="menu-item">Contact</a>
<a href="/en/blog" class="menu-item">Blog</a>
{% else %}
<a href="/" class="menu-item">Home</a>
<a href="/about" class="menu-item">About</a>
<a href="/contact" class="menu-item">Contact</a>
<a href="/blog" class="menu-item">Blog</a>
{% endif %}