<li><a href="/category/coltivazione" class="menu-item">Coltivazione</a></li>
<li>
    <ul class="list">
        <li><a href="/category/Tecniche-di-coltivazione" class="menu-item">Tecniche di coltivazione</a></li>
        <li><a href="/category/Substrato" class="menu-item">Substrato</a></li>
        <li><a href="/category/Fasi-cannabis" class="menu-item">Fasi cannabis</a></li>
        <li><a href="/category/Carenze-e-eccessi-nutrizionali" class="menu-item">Carenze e eccessi
                nutrizionali</a></li>
        <li><a href="/category/Raccolto" class="menu-item">Raccolto</a> </li>
        <li><a href="/category/Parassiti-Insetti-e-problemi-vari" class="menu-item">Parassiti, Insetti e problemi
                vari</a></li>
    </ul>
</li>
<li><a href="/category/Consumo" class="menu-item">Consumo</a></li>
<li><a href="/category/Scienza" class="menu-item">Scienza</a></li>
<li><a href="/category/Cbd" class="menu-item">Cbd</a></li>
<li><a href="/category/Guide e ricette" class="menu-item">Guide e ricette</a></li>
<li><a href="/category/Notizie" class="menu-item">Notizie</a></li>