---
permalink: tags-page.html
---
<!DOCTYPE html>
<html lang="it">

<head>
    <title>{{ renderData.title }}</title>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/styles/tagged-posts.css">
</head>

<body>
    {% include 'theme' %}
    {% include 'header' %}
    <main class="blog-content flow">
        <h1 class="title">{{ renderData.title }}</h1>
        <p class="subtitle">Browse the following posts</p>
        {{content}}
    </main>
    <footer class="page-footer">
        <div class="container">
            <small>Copyright <b>{{site.author}}</b></small>
        </div>
    </footer>
    <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
    <aside id="sidebar">
        <a href="javascript:toggleSidebar()" class="icon-btn" title="Close"><svg class="icon">
                <use href="/assets/cross.svg#content" />
            </svg></a>
        {% include 'menu' %}
    </aside>
</body>

</html>