---
noIndex: true
---

<!DOCTYPE html>

{% if locale == "en" %}
<html lang="en">
{% else %}
<html lang="it">
{% endif %}

<head>
    {% include 'head' %}
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/styles/tagged-posts.css">
</head>

<body>
    {% include 'theme' %}
    {% include 'header' %}
    <main class="blog-content flow">
        {% include 'categories' %}
        <div class="blog-content-right">
            <h1 class="title">{{ title }}</h1>
            <p class="subtitle">Vedi i seguenti articoli</p>
            {{content}}
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <small>Copyright <b>{{site.author}}</b></small>
        </div>
    </footer>
    <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
    <aside id="sidebar">
        <a href="javascript:toggleSidebar()" class="icon-btn" title="Close"><svg class="icon">
                <use href="/assets/cross.svg#content" />
            </svg></a>
        {% include 'menu' %}
    </aside>
</body>

</html>