@import "global";

body {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.about {
  max-width: 1100px;
  margin: 32px auto;
  padding: 0 1rem;

  @media (max-width: $breakpoint-md) {
    max-width: 800px;
    padding: 0 2rem;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 480px;
  }

  p {
    font-size: 1.15em;
  }

  h2 {
    margin-top: 16px;
  }
}
