@import 'global';

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90ch;
    img{
      border-radius: 8px;
      margin: 0.5rem 0 2rem 0;
    }
}
