@import 'global';

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: column;
}

.blog-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    flex: 1;
}

header {
}

.content-container {
    margin-top: 32px;
    flex: 1;

    main {
        .posts {
            width: 60ch;
            .post {
                &-date {
                    font-size: 12px;
                    line-height: 20px;
                    color: var(--date-color)
                }

                &-title {
                    font-size: 32px;
                    line-height: 39px;
                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        .nav-item {
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        & > * + * {
            margin-top: 18px;
        }
    }
}

@media (max-width: $breakpoint-md) {
    header {
        text-align: center;
        .title {
            font-size: 48px;
        }
    }
    .content-container {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0;
        main {
            margin-top: 2em;
            .posts {
                width: 80vw;
            }
        }
        nav {
            position: unset;
            width: 80vw;
            flex-direction: row;
            justify-content: space-between;
            .nav-item {
                margin-top: 0;
                font-size: 28px;
            }
        }
    }

    footer {
        position: static;
        align-self: center;
        margin-top: 2em;
        margin-bottom: 1.5em;
    }
}

@media (max-width: $breakpoint-sm) {
    .content-container {
        main {
            .posts {
                width: 85vw;
            }
        }
    }
}
