@import 'global';

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: column;
}

.blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .title {
        align-self: flex-start;
    }
    .post {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        @media (max-width: $breakpoint-sm) {
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
        }
        .left {
            max-width: 200px;
            @media (max-width: $breakpoint-sm) {
                max-width: 100%;
            }
            display: flex;
            align-items: center;
            flex-direction: column;
            img {
                aspect-ratio: 1/1;
            }
            @media (max-width: $breakpoint-sm) {
              img {
                height: 90%;
              }
            }
        }
        .right {
            flex: 1;
            .tags {
                margin-top: 0.5rem;
                display: flex;
                gap: 2px;
                flex-wrap: wrap;
            }
        }
        .tag {
            border: 1px solid wheat;
            padding: 4px;
            border-radius: 2px;
            background-color: brown;
            color: wheat;
        }
        .tag:nth-child(2n) {
            background-color: darkslateblue;
            color: wheat;
        }
    }

    @media (max-width: $breakpoint-md) {
    }

    @media (max-width: $breakpoint-sm) {
    }
}
