@import 'global';

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: column;
}

.blog-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    margin: 2rem;
    font-size: 24px;
    font-weight: normal;
}

.content-container {
    flex: 1;

    main {
        margin-left: 2rem;
        .posts {
            width: 60ch;
            .post {
                &-date {
                    color: var(--date-color);
                }

                &-title {
                    font-size: 32px;
                    line-height: 39px;
                    margin: unset;
                    overflow: hidden;
                    a {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                &-snippet {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                &-header {
                    display: grid;
                    grid-template-columns: 200px 1fr;
                    gap: 2rem;
                }

                &-footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .content-container main {
        .posts {
            width: 30ch;
            .post {
                &-title {
                    font-size: 16px;
                    line-height: 20px;
                }
                &-header {
                    display: grid;
                    grid-template-columns: 100px 1fr;
                    gap: 0.5rem;
                }
                &-footer {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-sm) {
}

.tag {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #111;
    background: #69caff;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    text-transform: lowercase;
}
